# Eclipse Memory Analyzer and Yourkit shortcuts
alias yjp='~/.yjp/bin/yjp.sh'
alias mat='~/.mat/MemoryAnalyzer'

# Current time millis
alias ctm='~/git/misc_scripts/current_millis/current_millis.sh'

# Maven / bang / package commands
alias mvnci='mvn clean install'

# Git related aliases/functions
alias gpull='git pull'
alias gpom='git pull origin master'
alias gst='git status'
alias gadot='git add .'
alias gdiff='git diff'
alias gbr='git branch'
alias gbvv='git branch -vv'
alias gcp='git commit -p'
alias groot='cd $(pwd | grep -o -e "^.*/git/[^/]*")'
